.amogus {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100%; 
}

.navig{
    background:url('../assets/stacked-peaks-haikei.svg') center/cover;
}

.background{
    background: url('../assets/layered-peaks-haikei.svg') no-repeat center/cover;
}